@font-face {
  font-family: Seven Segment;
  src: url("fonts/Seven\ Segment.ttf");
}
#outer {
  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
  padding-top: 180px;
  user-select: none;
}
#card {
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#card .card-header.display-6 {
  position: relative;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}
#card .card-footer {
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
}

#expand {
  position: absolute;
  right: 2.5rem;
  top: 1rem;
  border-radius: 50%;
}
div > a:hover {
  border-radius: 50%;
  transition: border-radius 0.5s;
}

#display {
  font-family: Seven Segment;
}
